body {
  font-family: "Bellota Text", cursive;
  margin: 0 auto;
}
.profilepost {
  display: flex;
  width: 700px;
  height: 306px;
  border: dotted black 2px;
  border-radius: 75px;
  align-items: center;
  margin: 10px auto;
}

.profilepic > a > img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-top-left-radius: 24%;
  border-bottom-left-radius: 24%;
  align-items: center;
  display: flex;
  margin-left: 3px;
}

.profilepostbody {
  width: 300px;
  margin-left: 30px;
  margin-top: 20px;
}

.accounth1 {
  width: 550px;
  margin: 0 auto;
  font-family: "Martel", serif;
}

.accounth2 {
  width: 550px;
  margin: 0 auto;
}

.accountbacklogo {
  margin: 10px auto;
  margin-top: 0px;
  text-align: center;
  display: flex;
  justify-content: center;
}
