body {
  font-family: "Bellota Text", cursive;
  margin: 0 auto;
}
.login-h2 {
  font-family: "Martel", serif;
  text-align: center;
  letter-spacing: 2px;
  margin-top: -4px;
  font-weight: 800;
  font-size: 20px;
  margin-bottom: 6px;
}

.bm {
  width: 1080px;
  height: 500px;
  margin: 0 auto;
  margin-top: -35px;
}

form {
  text-align: center;
}

.login-email-field > input {
  margin-bottom: 10px;
  border: none;
  border-bottom: solid black 1px;
  font-family: "Bellota Text", cursive;
  outline: none;
  width: 250px;
}

.login-pw-field > input {
  margin-bottom: 10px;
  border: none;
  border-bottom: solid black 1px;
  font-family: "Bellota Text", cursive;
  outline: none;
}

.login-actions > input {
  font-family: "Martel", serif;
  font-weight: 400;
  font-size: 13px;
  color: white;
  width: 70px;
  height: 25px;
  border: none;
  border-radius: 30px;
  background-color: black;
  margin-top: 10px;
  outline: none;
}

.login-actions > input:hover {
  transform: scale(1.2);
  box-shadow: 5px 6px 10px 1px rgba(136, 136, 136, 1);
  cursor: pointer;
}

.loginspan {
  text-align: center;
  display: flex;
  justify-content: center;
}

.loginspan > a {
  margin-left: 10px;
  margin-top: 10px;
  color: grey;
}
